#buttons {
    text-align: justify;
}

#buttons:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
}

#statLink {
    display: inline-block;
    margin-top: 0.321em;
}

#disconnectLink {
    display: inline-block;
    vertical-align: baseline;
}

.photo {
    max-height: 10em;
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}

.id {
    display: none;
}

.abandon {
    text-align: center;
    width: 80px;
    max-width: 100px;
    margin: 0 auto;
}

.returned {
    /*text-align: center;
    width: 80px;
    max-width: 100px;
    margin: 0 auto;*/
    display: none;
}

.found {
    text-align: center;
    width: 80px;
    max-width: 100px;
    margin: 0 auto;
}

.date {
    text-align: center;
    width: 8em;
}
